body{
    background-color:aqua
}

.head{
    padding-top: 60px;
    text-align: center;

}
.cal{
    font-size: 50px;
}

.layout{
    border-radius: 20px;
    width: 250px;
    border: 2px solid black;
    margin-top: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: lightsalmon;
}
.row{
    display: flex;
    
}
.btns:hover{
    cursor: pointer;
    transform: scale(1.07);
    transition: 0.1s;
}


.btns{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 5px;
    box-shadow: 3px 3px 3px 3px;

}

#resultInput{
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    border-radius: 10px  ;
}